body {
  background-color: #212121;
}

.navbar-container {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-icons {
  align-items: center;
  display: flex;
  gap: 5px;
}

.navbar-email-icon {
  width: 32px;
  min-height: auto;
}

.navbar-ig-icon {
  width: 28px;
  min-height: auto;
}

.category-container {
  display: flex;
  color: white;
  gap: 5px;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

.category-divider {
  margin-left: 3px;
  margin-right: 3px;
}

.personal-container {
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}